.container{

  border: solid 1px black;
  display: block;
  justify-content: center;
  text-align: center;
  width: 1000px;
  margin: auto;
  }
  .blockflag{
  
    display: flex;
    border: solid 1px white;
    width: auto;
    height: auto;
    margin: 10px;
    justify-content: center;
  }
  .flag{
  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    width: 200px;
    height: 100px;
  }
  .f1{
    background-color: red;
  }
  .f2{
  
    background-color: white;
  }
  .f3{
    
    background-color:green ;
  }
  
  .body{
    display: flex;
    justify-content: center;
  }
  .c1{
  
  display: block;
  border: solid 1px black;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 5px;
  }
  .c2{
  
    display: block;
  border: solid 1px black;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 5px;
  
  }
  
  .c3{
  
    display: block;
  border: solid 1px black;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 5px;
  
  }
  img{
    width: 100px;
    height: 100px;
  }